
.green .rbc-today {
    background-color: rgba(159, 204, 159, 0.37); }

.green .rbc-time-view {
    border: 1px solid rgb(98, 155, 98); }

.green .rbc-event {
    background-color: rgb(98, 155, 98);
    color: #fff; }

.green .rbc-day-slot .rbc-event {
    border: none; }

.green .rbc-current-time-indicator {
    background-color: rgb(51, 77, 51); }



.red .rbc-today {
    background-color: rgba(206, 166, 161, 0.507); }

.red .rbc-time-view {
    border: 1px solid rgb(196, 123, 114); }

.red .rbc-event {
    background-color: rgb(196, 123, 114);
    color: #fff;}    

.red .rbc-day-slot .rbc-event {
    border: none; }

.red .rbc-current-time-indicator {
    background-color: rgb(97, 52, 46); }



.blue .rbc-today {
    background-color: rgba(175, 209, 224, 0.541); }

.blue .rbc-time-view {
    border: 1px solid  rgb(122, 195, 230); }

.blue .rbc-event {
    background-color: rgb(122, 195, 230);
    color: #fff; }

.blue .rbc-day-slot .rbc-event {
    border: none; }

.blue .rbc-current-time-indicator {
    background-color: rgb(41, 78, 95); }



.violet .rbc-today {
    background-color: rgba(179, 138, 207, 0.589); }

.violet .rbc-time-view {
    border: 1px solid rgb(141, 83, 180); }

.violet .rbc-event {
    background-color: rgb(141, 83, 180);
    color: #fff; }

.violet .rbc-day-slot .rbc-event {
    border: none; }

.violet .rbc-current-time-indicator {
    background-color: rgb(75, 37, 100); }



 .special-day {
    cursor: not-allowed;
    background-color: #e9e9e9c0;
} 