/* @import "react-big-calendar/lib/css/react-big-calendar.css"; */


/* .green .rbc-calendar {
    background-color: rgb(155, 209, 155); } */

.green .rbc-today {
    background-color: rgb(98, 155, 98); }

/* .red .rbc-calendar {
    background-color: rgb(218, 86, 68); } */

.red .rbc-today {
    background-color: rgb(196, 123, 114); }

/* .blue .rbc-calendar {
    background-color: rgb(135, 167, 235); } */

.blue .rbc-today {
    background-color: rgb(122, 195, 230); }
/* 
.violet .rbc-calendar {
    background-color: rgb(112, 62, 160); } */

.violet .rbc-today {
    background-color: rgb(141, 83, 180); }